body {
    background-image: url('../images/background-trondheim.jpeg');
}

#biglist {
    background-color: #181817;
    color:  white;
}

#smalllist {
    background-color: #181817;
    color:  white;
}

.even {
    background-color: #2f2f2e;
}

.odd {
    background-color: #464645;
}
