body, html {
    height:             100%;
    margin:             0px;
    font-family:        verdana,helvetica,tahoma,sans-serif;
    font-size:          10pt;
}

body {
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #181817;
}

.row-header, .row-footer {
    background-color: #212021;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
}

.lightTextColor {
    color:  #9d9d9d;
}

.blue {
    color: #7f7fcf;
}

.green {
    color: #4cbc4c;
}

.white {
    color: #ffffff;
}

.text-right {
    text-align:     right;
}

.text-left {
    text-align:     left;
}

.text-center {
    text-align:     center;
}

.fill-height {
    height:         100%;
}

.fill-width {
    padding-top:    0px;
    padding-bottom: 0px;
    padding-left:   0px;
    padding-right:  0px;
    margin-left:    0px;
    margin-right:   0px;
}

.navbar-nav  li  a {
    margin-bottom:  0px;
}
.navbar {
    margin-bottom:  5px;
}

li {
    padding: 3px;
    margin: 0px;
}


/* Modification of the btn-inverse colors*/
.btn-inverse {
    background-color:   #2f2f2f;
    color:              #9d9d9d;
    border-color:       #080808;
}
.btn-inverse:focus, .btn-inverse.focus
.btn-inverse:active, .btn-inverse.active,
.btn-inverse:hover {
    background-color:   #222;
    color:              #fff;
}

.btn-labels {
    background-color:   #222;
    color:              #9d9d9d;
    border-color:       #080808;
}
.btn-labels:focus, .btn-labels.focus
.btn-labels:active, .btn-labels.active,
.btn-labels:hover {
    background-color:   #2f2f2f;
    color:              #fff;
}
.btn-labels-large {
    text-align:         left;
    width:              150px;
}

.btn-lg-text-sm {
    padding: 12px 12px;
    line-height: 1.34;
    border-radius: 6px;
    font-size: 15px;
}


/* Page loading icon stuff */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}
body.loading {
    overflow: hidden;
}
body.loading .modal {
    display: block;
}
.loader-div {
    width:      100px;
    height:     100px;
    margin:     auto;
    padding:    5px;
}
.loader-canvas {
    width:      64px;
    height:     64px;
    margin:     auto;
}

/* for centering a div vertically */
.vertical-center {
    position: absolute;
    top: 12%;
    left: 0%;
    height: 30%;
    width: 100%;
    margin: 0% 0 0 0%;
}

.top-buffer {
    margin-top:5px;
}

.top-row-buffer {
    margin-top:50px;
}
